#container {
    padding-left: 5rem;
    
}
#car img {
    width: auto;
    height: 400px;
    box-sizing:border-box; 
    width: 40rem
}
#specs {
    box-sizing:border-box; 
    border: 3px solid black; 
    width: 40rem;
    padding-left: 25px;
    padding-bottom : 25px;
    
}
#details {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;

}