#christree {
    padding-left: 5rem;
}
#christmas {
    font-size: 50px;
    font-style: bold;
    padding-left: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
#christree img {
    padding-left: 2rem;
    width : 250px;
    height: 400px;
}
